<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>はてぶエントリ</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<p>test</p>
<%= form_tag('search') do %>
  <p>入力してください。</p>
  <%= search_field_tag(:url, value=nil, options={:size => 50}) %>
  <%= submit_tag(value = "submit") %>
<% end %>
</body>
</html>

