<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>はてぶエントリ</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<% form_tag :action => 'search' do %>
  <p>入力してください。</p>
  <%= search_field :url %>>
  <%= submit_tag "submit" %>
<% end %>
</body>
</html>

